
<ul class="nav nav-justified">
    <li>
        @Html.ActionLink("SIGN IN", "SignIn", "User", new { area = "U" }, new { })
    </li>
    <li>
        @Html.ActionLink("SIGN UP", "SignUp", "User", new { area = "U" }, new { })
    </li>
    <li>
        @Html.ActionLink("Active Account", "Active", "User", new { area = "U" }, new { })
    </li>
</ul>