<h3>Congratulations!</h3>
<hr />
<p>You have successfully signed up.</p>
<p>A letter of confirmation has been sent to your email: @ViewBag.Email</p>
<p>Please active your account.</p>
@Html.ActionLink("Active Your Email", "Active", "User", new { area = "U" }, new { });